/* WATS 3020 Mad Libs Assignment */

body {
    padding: 1rem;
    font-family: Verdana, Geneva, sans-serif;
}

div.container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(43, 52, 66);
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    box-shadow: 5px 10px 8px black;
}

a {
    text-decoration: italic;
    color: black;
}